<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Art Institute of Chicago Search</title>
    <link rel="stylesheet" type="text/css" href="react-fetch.css">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
        const { Component } = React;

        class ListItem extends Component {
            render() {
                const { artwork, onClick, isSelected } = this.props;
                const className = isSelected ? 'selected' : '';
                return (
                    <div className={className} onClick={() => onClick(artwork)}>
                        <li>{artwork.title}</li>
                    </div>
                );
            }
        }

        class DetailView extends Component {
            render() {
                const { artwork } = this.props;
                if (!artwork) {
                    return <div>Please select an item to view details.</div>;
                }
                return (
                    <div>
                        <h2>{artwork.title}</h2>
                        <p>{artwork.artist_title}</p>
                        <p>{artwork.place_of_origin}, {artwork.date_start} - {artwork.date_end}</p>
                        {artwork.image_id && 
                            <div>
                                <img src={`https://www.artic.edu/iiif/2/${artwork.image_id}/full/843,1000/0/default.jpg`} alt={artwork.title} />
                                <div dangerouslySetInnerHTML={{ __html: artwork.description }} />
                                <br></br>
                                <p>Medium: </p>
                                <p class = "info">{artwork.medium_display}</p>
                                <p>Dimensions: </p>
                                <p class = "info">{artwork.dimensions}</p>
                            </div>
                        }
                    </div>
                );
            }
        }

        class App extends Component {
            constructor(props) {
                super(props);
                this.state = {
                    searchTerm: '',
                    searchResults: [],
                    viewedItem: null,
                };
            }

            handleSearch = (event) => {
                event.preventDefault();
                fetch(`https://api.artic.edu/api/v1/artworks/search?q=${this.state.searchTerm}&limit=10`)
                    .then(response => response.json())
                    .then(data => this.setState({ searchResults: data.data }));
            }

            handleListItemClick = (artwork) => {
                this.fetchDetails(artwork.id);
            }

            fetchDetails = (id) => {
                fetch(`https://api.artic.edu/api/v1/artworks/${id}`)
                    .then(response => response.json())
                    .then(data => this.setState({ viewedItem: data.data }));
            }

            handleInputChange = (event) => {
                this.setState({ searchTerm: event.target.value });
            }

            render() {
                const { searchResults, viewedItem, searchTerm } = this.state;
                return (
                    <div className="wrapper">
                        <header>
                            <h1>Art Institute of Chicago Search</h1>
                            <form onSubmit={this.handleSearch}>
                                <input type="text" value={searchTerm} onChange={this.handleInputChange} />
                                <button type="submit">Search</button>
                            </form>
                            {searchResults.map(artwork => (
                                <ListItem
                                    key={artwork.id}
                                    artwork={artwork}
                                    onClick={this.handleListItemClick}
                                    isSelected={viewedItem && artwork.id === viewedItem.id}
                                />
                            ))}
                            <footer>
                                <p>Made by Nguyen Dang Minh</p>
                            </footer>
                        </header>
                        <main>
                            <DetailView artwork={viewedItem} />
                        </main>
                    </div>
                );
            }
        }

        ReactDOM.render(<App/>, document.querySelector('#root'));
    </script>
</body>
</html>